@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --color-primary-150: #550788;
  --color-primary-100: #7209b7;
  --color-primary-50: rgba(114, 9, 183, 0.5);
  --color-black-100: #353535;
  --color-black-75: #676767;
  --color-black-50: #9b9b9b;
  --color-black-25: #cdcdcd;
  --color-white: #ffffff;
  --color-white-98: #fafafa;
  --color-white-97: #f7f7f8;
  --color-red: #cb0000;

  --text-display-large: 64px;
  --text-display: 32px;
  --text-body: 18px;
  --text-button: 15px;

  --radius-medium: 5px;
  --radius-large: 10px;
}

body {
  @apply font-sans text-body text-black-100;
}
